.swiper-wrapper {
  height: 380px !important;
  @media (min-width: 1300px) and (max-width: 1600px) {
    height: 450px !important;
  }
}
.icon-arrow-long-right,
.icon-arrow-long-left {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 44%;
  transform: translateY(-44%);
  border-radius: 12px;
  border: 2px solid #e7e7e7;
  background: rgba(255, 255, 255, 0.7);
  padding: 17px 20px;
  font-size: 25px;
  width: 55px;
  height: 55px;
  cursor: pointer;
  color: #423064;
  font-weight: 800 !important;
  z-index: 100 !important;
  @media (max-width: 767px) {
    display: none;
  }
}
.icon-arrow-long-left {
  left: 0px;
}
.icon-arrow-long-right {
  right: 0px;
}
.swiper-pagination-bullet {
  width: 16.56px;
  height: 16.56px;
  transition: all 0.3s;
  background-color: #574b9a;
  opacity: 1;
  @media (max-width: 991px) {
    display: none;
  }
}

.swiper-pagination-bullet-active {
  width: 48px;
  border-radius: 11px;
}
